<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
	Header
</header>

<nav>
	<a>Home</a>
	<a>Shop</a>
	<a>Who we are</a>
</nav>

<main>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	
	<p>
		This is a paragraph
	<p>
	
	<ul>
	  <li> Item one </li>
	  <li> Item two </li>
	</ul>

<table>
        <tr>
            <th>Item 1</th>
            <th>Item 2</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>4</td>
        </tr>
    </table>
	
	<aside>
		<a>Additional Information</a>
		<img 
		alt=SVG
		src="https://i.blogs.es/5dd289/photo-1623197247678-fb5e10f66075/500_333.jpeg"
		width="500px"
		height="300px"
		/>
	</aside>
	
	<footer>
		<a href= "https://github.com/davidmurgapereyra">Github</a>
		<a href= "https://www.instagram.com/david.mpereyra">Instagram</a>
	</footer>

</main>
</body>
</html>