<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
	Header
</header>

<nav>
	<a>Home</a>
	<a>Shop</a>
	<a>Who we are</a>
</nav>

<main>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	<section>
		<h1>Title</h1>
		<h2>Subtitle</h2>
	</section>
	
	<p>
		This is a paragraph
	<p>
	
	<ul>
	  <li> Item one </li>
	  <li> Item two </li>
	</ul>

	<table>
		<thead></thead> 
		<tbody></tbody>
	</table>
	
	<aside>
		<a>Additional Information</a>
		<img 
		alt=SVG
		src="https://i.blogs.es/5dd289/photo-1623197247678-fb5e10f66075/500_333.jpeg"
		/>
	</aside>
	
	<footer>
		<a>https://github.com/davidmurgapereyra</a>
		<a>https://www.instagram.com/david.mpereyra</a>
		<a>davidmurgapereyra@gmail.com</a>
	</footer>

</main>
</body>
</html>